.App {
  text-align: center;
}

.App-logo {
  margin-top: 20px;
  height: 40vmin;
  pointer-events: none;
}

#loading-data {
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 80s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.search-result {
  margin: 5px 20%;
  width: 60%;
  padding: 5px 10px;
  border: solid grey;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  /*background-color: grey;*/
}

.testing {
  border: solid red!IMPORTANT;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
